<h1><%= t('Login header') %></h1>

<% form_tag session_path do -%>
<p><%= label_tag t('Login') %><br />
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag t('Password') %><br/>
<%= password_field_tag 'password', nil %></p>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->
<br />
<p>
  <%= submit_tag t('Log in'), :class => "to-button fg-button" %>
</p>
<% end -%>
