<h1><%= t('Regulation bases') %></h1>

<table>
  <tr>
    <th><%= t('Name') %></th>
    <th><%= t('Mtow kg') %></th>
    <th></th>
  </tr>

<% @regulation_bases.each do |regulation_basis| %>
  <tr>
    <td><%=h regulation_basis.name %></td>
    <td><%=h regulation_basis.mtow_kg %></td>
    <td>
<%= link_to_with_icon('search',t('Show') , regulation_basis, :class => "fg-btn-small to-btn") %>
<%= link_to_with_icon('pencil',t('Edit') , edit_regulation_basis_path(regulation_basis), :class => "fg-btn-small to-btn") %>
      <%= regulation_basis_destroy_link(regulation_basis) %>  
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to_with_icon('plus',t('New regulation_basis') , new_regulation_basis_path, :class=>"fg-button  to-btn") %>
