<h1><%= t('Listing aircrafts') %></h1>

<table>
  <tr>
    <th><%= t('Matriculation') %></th>
    <th><%= t('Serial number') %></th>
    <th></th>
  </tr>

<% @aircrafts.each do |aircraft| %>
  <tr>
    <td><%=h aircraft.matriculation %></td>
    <td><%=h aircraft.serial_number %></td>
    <td>
      <%= link_to t('Show'), aircraft, :class => "fg-btn-small to-btn" %>
      <%= link_to t('Edit'), edit_aircraft_path(aircraft), :class => "fg-btn-small to-btn" %>
      <%= link_to t('Destroy'), aircraft, :confirm => t('Are you sure'), :method => :delete, :class => "fg-btn-small to-btn" %>
  </td>
  </tr>
<% end %>
</table>

<br />

    <%= link_to_with_icon('plus',t('New aircraft') , new_aircraft_path, :class=>"fg-button  to-btn") %>
