<h1><%= t('Aircraft') %></h1>
<p>
  <b><%= t('Type') %>:</b>
  <%=h @aircraft.aircraft_model.aircraft_type.name %>
</p>
<p>
  <b><%= t('Model') %>:</b>
  <%=h @aircraft.aircraft_model.name %>
</p>
<p>
  <b><%= t('Serial number') %>:</b>
  <%=h @aircraft.serial_number %>
</p>

<p>
  <b><%= t('Matriculation') %>:</b>
  <%=h @aircraft.matriculation %>
</p>

<p>
  <b><%= t('Active') %>:</b>
  <%=h @aircraft.active %>
</p>

<p>
  <b><%= t('Operator') %>:</b>
  <%=h @aircraft.operator_name %>
</p>

<p>
  <b><%= t('Owner') %>:</b>
  <%=h @aircraft.owner_name %>
</p>


<%= back_link(aircrafts_path) %>
<%= link_to t('Edit'), edit_aircraft_path(@aircraft), :class => "fg-button to-btn" %>
