<h1><%= t('Certification fee twos') %></h1>

<table>
  <tr>
    <th><%= t('Kind') %></th>
    <th><%= t('Description') %></th>
    <th><%= t('Active') %></th>
    <th></th>
  </tr>

<% @certification_fee_twos.each do |certification_fee_two| %>
  <tr>
    <td><%=h certification_fee_two.kind %></td>
    <td><%=h certification_fee_two.description %></td>
    <td><%=h certification_fee_two.active %></td>
    <td>
      <%= link_to_with_icon('search',t('Show') , certification_fee_two, :class => "fg-btn-small to-btn") %>
      <%= link_to_with_icon('pencil',t('Edit') , edit_certification_fee_two_path(certification_fee_two), :class => "fg-btn-small to-btn") %>
      <%= certification_fee_twos_destroy_link(certification_fee_two) %>  
  </tr>
<% end %>
</table>

<br />

<%= link_to_with_icon('plus',t('New certification fee two') , new_certification_fee_two_path, :class=>"fg-button  to-btn") %>
