<h1><%= t('New certification fee two') %></h1>

<% form_for(@certification_fee_two) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t('Kind') %><br />
    <%= f.text_field :kind %>
  </p>
  <p>
    <%= f.label t('Description') %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label t('Value') %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label t('Active') %><br />
    <%= f.check_box :active %>
  </p>
  <p>
  <%= f.submit t('Create'), :class => "fg-button to-btn" %>
  <%= f.submit t('Create and continue'), :class => "fg-button to-btn", :name => "submit_continue" %>
  </p>
<% end %>

<%= back_link(certification_fee_twos_path) %>
