<h1><%= t('Aircraft types') %></h1>

<table>
  <tr>
    <th><%= t('Name') %></th>
  </tr>

<% @aircraft_types.each do |aircraft_type| %>
  <tr>
    <td><%=h aircraft_type.name %></td>
    <td>
      <%= link_to_with_icon('search',t('Show') , aircraft_type, :class => "fg-btn-small to-btn") %>
      <%= link_to_with_icon('pencil',t('Edit') , edit_aircraft_type_path(aircraft_type), :class => "fg-btn-small to-btn") %>
      <%= type_destroy_link(aircraft_type) %>
    </td>
  </tr>
<% end %>
</table>

<br />
<%= link_to_with_icon('plus',t('Add new type') , new_aircraft_type_path, :class=>"fg-button  to-btn") %>
