<h1><%= t('Editing group') %></h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :abbreviation %><br />
    <%= f.text_field :abbreviation %>
  </p>
  <p>
  <%= f.submit t('Update'), :class => "to-btn" %>
  </p>
<% end %>
<p>
  <%= back_link(groups_path) %>
  <%= link_to t('Show'), @group, :class => "fg-button to-btn" %>
</p>
