<h1><%= t('Group') %></h1>
<p>
  <b>Name:</b>
  <%=h @group.name %>
</p>

<p>
  <b>Abbreviation:</b>
  <%=h @group.abbreviation %>
</p>

<p>
  <%= back_link(groups_path) %>
  <%= link_to t('Edit'), edit_group_path(@group), :class => "fg-button to-btn" %>
</p>
