<div class="box right-box">
  <p>
  <%= link_to_with_icon('script',t('Log') ,{:controller => :is_logs, :action => :index}, :class=>"fg-btn-main  to-btn") %>
  </p>
  <p>
    <%= link_to_with_icon('person',t('Admin users') ,{:action => :index}, :class=>"fg-btn-main  to-btn") %>
  </p>
</div>
<div class="box left">
  <p>
    <%= link_to_with_icon('wrench',t('Aircrafts') ,{:controller => :aircrafts, :action => :index}, :class=>"fg-btn-main  to-btn") %>
  </p>
  <p>
    <%= link_to_with_icon('wrench',t('Aircraft models') ,{:controller => :aircraft_models, :action => :index}, :class=>"fg-btn-main  to-btn") %>
  </p>
  <p>
    <%= link_to_with_icon('wrench',t('Aircraft types main') ,{:controller => :aircraft_types, :action => :index}, :class=>"fg-btn-main  to-btn") %>
  </p>
  <p>
    <%= link_to_with_icon('wrench',t('Companies') ,{:controller => :companies, :action => :index}, :class=>"fg-btn-main  to-btn") %>
  </p>
  <p>
    <%= link_to_with_icon('wrench',t('Classifications') ,{:controller => :classifications, :action => :index}, :class=>"fg-btn-main  to-btn") %>
  </p>
  <p>
    <%= link_to_with_icon('wrench',t('Certification fee_ones') ,{:controller => :certification_fee_ones, :action => :index}, :class=>"fg-btn-main  to-btn") %>
  </p>
  <p>
    <%= link_to_with_icon('wrench',t('Certification fee twos') ,{:controller => :certification_fee_twos, :action => :index}, :class=>"fg-btn-main  to-btn") %>
  </p>
  <p>
    <%= link_to_with_icon('wrench',t('Regulation bases') ,{:controller => :regulation_bases, :action => :index}, :class=>"fg-btn-main  to-btn") %>
  </p>
</div>
