<h1><%= t('Editing company') %></h1>

<% form_for(@company) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t('Name') %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label t('Ico') %><br />
    <%= f.text_field :ico %>
  </p>
  <p>
    <%= f.label t('Dic') %><br />
    <%= f.text_field :dic %>
  </p>
  <p>
    <%= f.submit t('Update'), :class => "fg-button to-btn" %>
  </p>
<% end %>

<%= back_link(companies_path) %>
<%= link_to t('Show'), @company, :class => "fg-button to-btn" %>
