<h1><%= t('Companies') %></h1>

<table>
  <tr>
    <th><%= t('Name') %></th>
    <th><%= t('Ico') %></th>
    <th><%= t('Dic') %></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%=h company.name %></td>
    <td><%=h company.ico %></td>
    <td><%=h company.dic %></td>
    <td>
      <%= link_to t('Show'), company, :class => "fg-btn-small to-btn" %>
      <%= link_to t('Edit'), edit_company_path(company), :class => "fg-btn-small to-btn" %>
      <%= link_to t('Destroy'), company, :confirm => t('Are you sure'), :method => :delete, :class => "fg-btn-small to-btn" %>
    </td>
  </tr>
<% end %>
</table>

<br />
<p>
  <%= link_to t('New company'), new_company_path, :class => "fg-button to-btn" %>
</p>
<p>
  <%= back_link('/') %>
</p>
