<h1><%= t('Log') %></h1>

<table>
  <tr>
    <th><%= t('Date') %></th>
    <th><%= t('Event') %></th>
    <th><%= t('User') %></th>
  </tr>

<% @is_logs.each do |is_log| %>
  <tr>
    <td><%=h is_log.created_at %></td>
    <td><%=h is_log.event %></td>
    <td><%=h is_log.user.display_name + " (#{is_log.user.login})" %></td>
  </tr>
<% end %>
</table>
<br />
<%= will_paginate @is_logs, {:previous_label => t('previous'), :next_label => t('next')} %>
<br />

