<h1><%= t('Classification') %></h1>

<p>
  <b><%= t('Name') %>:</b>
  <%=h @classification.name %>
</p>

<p>
  <b><%= t('Abbreviation') %>:</b>
  <%=h @classification.abbreviation %>
</p>


<%= back_link(classifications_path) %>
<%= link_to t('Edit'), edit_classification_path(@classification), :class => "fg-button to-btn" %>
