<h1><%= t('Offers') %></h1>
<% if Aircraft.find(:all, :conditions => {:active => true}) != []  %>
<%= filters_menu %>
<% unless current_user.has_role?("observer") %>
<br />
<p>
  <%= link_to_with_icon('plus',t('New offer') , new_offer_path, :class=>"fg-button  to-btn") %>
</p>
<% end %>
<% else %>
<p>

  <%= t('Cant create offer') %>
</p>
<% end %>
<table>
  <tr>
    <th><%= t('Order number') %></th>
    <th><%= t('Aircraft') %></th>
  </tr>

<% @offers.each do |offer| %>
  <tr>
    <td><%=h offer.order_number %></td>
    <td><%=h offer.aircraft.name %></td>
    <td>
      <%= link_to_with_icon('search',t('Show') , offer, :class => "fg-btn-small to-btn") %>
      <% unless current_user.has_role?("observer") %>
      <%= link_to_with_icon('pencil',t('Edit') , edit_offer_path(offer), :class => "fg-btn-small to-btn") %>
      <%= offer_destroy_link(offer) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>


<br />
  <%= will_paginate @offers, {:previous_label => t('previous'), :next_label => t('next')} %>
<br />
