<h1><%= t('Offers') %></h1>

<table>
  <tr>
    <th><%= t('Order number') %></th>
    <th><%= t('Aircraft') %></th>
  </tr>

<% @offers.each do |offer| %>
  <tr>
    <td><%=h offer.order_number %></td>
    <td><%=h offer.aircraft_id %></td>
    <td>
      <%= link_to t('Show'), offer, :class => "fg-btn-small to-btn" %>
      <%= link_to t('Edit'), edit_offer_path(offer), :class => "fg-btn-small to-btn" %>
      <%= link_to t('Destroy'), offer, :confirm => t('Are you sure'), :method => :delete, :class => "fg-btn-small to-btn" %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('New offer'), new_offer_path, :class => "fg-button to-btn" %>
