<p>
  <b>Aircraft:</b>
  <%=h @offer.aircraft_id %>
</p>

<p>
  <b>Order number:</b>
  <%=h @offer.order_number %>
</p>

<p>
  <b>Responsible person bussiness:</b>
  <%=h @offer.responsible_person_bussiness %>
</p>

<p>
  <b>Requirement acceptance:</b>
  <%=h @offer.requirement_acceptance %>
</p>

<p>
  <b>Handover basis ou:</b>
  <%=h @offer.handover_basis_ou %>
</p>

<p>
  <b>Offer verification ou:</b>
  <%=h @offer.offer_verification_ou %>
</p>

<p>
  <b>Basis processer:</b>
  <%=h @offer.basis_processer_id %>
</p>

<p>
  <b>Classification approval:</b>
  <%=h @offer.classification_approval_id %>
</p>

<p>
  <b>Basisi approval:</b>
  <%=h @offer.basisi_approval_id %>
</p>

<p>
  <b>Short description:</b>
  <%=h @offer.short_description %>
</p>

<p>
  <b>Original status:</b>
  <%=h @offer.original_status %>
</p>

<p>
  <b>Dismount equipment description:</b>
  <%=h @offer.dismount_equipment_description %>
</p>

<p>
  <b>General comments:</b>
  <%=h @offer.general_comments %>
</p>

<p>
  <b>Important comments:</b>
  <%=h @offer.important_comments %>
</p>

<p>
  <b>Current visibility:</b>
  <%=h @offer.current_visibility %>
</p>

<p>
  <b>Current visibility type:</b>
  <%=h @offer.current_visibility_type %>
</p>

<p>
  <b>Planned visibility:</b>
  <%=h @offer.planned_visibility %>
</p>

<p>
  <b>Planned visibility type:</b>
  <%=h @offer.planned_visibility_type %>
</p>

<p>
  <b>Regulation basis:</b>
  <%=h @offer.regulation_basis_id %>
</p>

<p>
  <b>Classification:</b>
  <%=h @offer.classification_id %>
</p>

<p>
  <b>Certification fee one:</b>
  <%=h @offer.certification_fee_one_id %>
</p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>