<h1><%= t('Aircraft models') %></h1>

<table>
  <tr>
    <th><%= t('Name') %></th>
  </tr>

<% @aircraft_models.each do |aircraft_model| %>
  <tr>
    <td><%=h aircraft_model.name %></td>
    <td>
<%= link_to_with_icon('search',t('Show') , aircraft_model, :class => "fg-btn-small to-btn") %>
<%= link_to_with_icon('pencil',t('Edit') , edit_aircraft_model_path(aircraft_model), :class => "fg-btn-small to-btn") %>
<%= model_destroy_link(aircraft_model) %>
    </td>
  </tr>
<% end %>
</table>

<br />
<p>
<%= link_to_with_icon('plus',t('Add aircraft model') ,{:action => :new}, :class=>"fg-button  to-btn") %>
</p>
