<h1><%= t('Certification_fee_ones') %></h1>
<% unless current_user.has_role?("observer") %>
  <p>
    <%= link_to_with_icon('plus',t('New certification_fee_one') , new_certification_fee_one_path, :class=>"fg-button  to-btn") %>
  </p>
<% end %>

<table>
  <tr>
    <th><%= t('Mtow kg') %></th>
    <th><%= t('Type') %></th>
    <th><%= t('Kind') %></th>
    <th><%= t('Active') %></th>
    <th><%= t('Value eur') %></th>
  </tr>

<% @certification_fee_ones.each do |certification_fee_one| %>
  <tr>
    <td><%=h t(certification_fee_one.mtow_kg) %></td>
    <td><%=h t(certification_fee_one.fee_type) %></td>
    <td><%=h t(certification_fee_one.kind) %></td>
    <td><%=h certification_fee_one.active %></td>
    <td><%=h certification_fee_one.value %></td>
    <td>
      <%= link_to_with_icon('search',t('Show') ,  certification_fee_one, :class => "fg-btn-small to-btn") %>
      <% unless current_user.has_role?("observer") %>
        <%= link_to_with_icon('pencil',t('Edit') , edit_certification_fee_one_path(certification_fee_one), :class => "fg-btn-small to-btn") %>
        <%= certification_fee_one_destroy_link(certification_fee_one) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

