<h1><%= t('Certification fee one') %></h1>
<p>
  <b><%= t('Mtow kg') %>:</b>
  <%=h t(@certification_fee_one.mtow_kg) %>
</p>

<p>
  <b><%= t('Type') %>:</b>
  <%=h t(@certification_fee_one.fee_type) %>
</p>

<p>
  <b><%= t('Kind') %>:</b>
  <%=h t(@certification_fee_one.kind) %>
</p>

<p>
  <b><%= t('Active') %>:</b>
  <%=h @certification_fee_one.active %>
</p>
<p>
  <b><%= t('Value') %>:</b>
  <%=h @certification_fee_one.value %>
</p>


<%= back_link(certification_fee_ones_path) %>
<%= link_to t('Edit'), edit_certification_fee_one_path(@certification_fee_one), :class => "fg-button to-btn" %>
